.AllBagsPage {
  .content {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      overflow-y: scroll;
      margin-top: 2rem;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    li {
      height: 400px;
      width: 280px;
      position: relative;

      &.group {
        &:hover .group-hover-shadow {
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }

        &:hover .group-hover-opacity {
          opacity: 1;
        }
      }
    }

    .product-card {
      margin-bottom: 1rem;
      padding: 2.75rem 4rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      background-color: #f5f5f5;
      transition: box-shadow 0.3s ease;
      position: relative;
    }

    .discount-badge {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 3.1rem;
      height: 1.5rem;
      font-size: 0.875rem;
      background-color: #e75a5a;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.375rem;
    }

    .icons {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .icon {
        width: 2rem;
        height: 2rem;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }

    .product-title {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      text-align: center;
    }

    .price {
      font-size: 0.875rem;
      opacity: 0.7;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    .content {
      ul {
        justify-content: center;
      }

      li {
        width: calc(50% - 5px);
        max-width: 280px;
      }

      .product-card {
        padding: 2rem;
      }

      .discount-badge {
        width: 2.5rem;
        height: 1.2rem;
        font-size: 0.75rem;
      }

      .product-title {
        font-size: 0.875rem;
      }

      .price {
        font-size: 0.75rem;
      }
    }
  }

  @media (max-width: 480px) {
    .content {
      ul {
        justify-content: center;
      }

      li {
        width: calc(100% - 10px);
        max-width: 90%;
      }

      .product-card {
        padding: 1rem;
      }

      .product-title {
        font-size: 0.75rem;
      }

      .price {
        font-size: 0.625rem;
      }
    }
  }
}
